form .results .item{
    background-color: #f4f4f4;
    padding: 10px 15px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-top: -15px;
}

form .results .item:hover{
    background-color: #d1d1d1;
    color: #ffffff;
}